.header {
    overflow: hidden;
    background-color: #eb5353;
    padding: 20px 10px;

}




.butn {
  -webkit-border-radius: 33;
  -moz-border-radius: 33;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #a82f33;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
  margin-left: 20;
  margin-right: 20px;
}

.butn:hover {
  background: #f5496b;
  background-image: -webkit-linear-gradient(top, #f5496b, #ed4996);
  background-image: -moz-linear-gradient(top, #f5496b, #ed4996);
  background-image: -ms-linear-gradient(top, #f5496b, #ed4996);
  background-image: -o-linear-gradient(top, #f5496b, #ed4996);
  background-image: linear-gradient(to bottom, #f5496b, #ed4996);
  text-decoration: none;
}

