.form{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    box-align: center;
}


.caixa { border-left: 4px solid #E6E6E6;
    border-right: 10px solid #E6E6E6;
    border-bottom: 10px solid #E6E6E6;
    height: 340px;
    padding: 5px 0;
    box-align: center;
     }






